@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  @apply bg-institucional-crema text-gray-900;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}
